
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <!-- Brand/logo -->
    <a class="navbar-brand mr-auto"
      routerLink=""
    >Training App</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <ng-container *ngIf="!userService.loggedUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="signin"
          routerLinkActive="highlight">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup"
          routerLinkActive="highlight">SignUp</a>
        </li>
      </ng-container>
    </ul>
    <ng-container *ngIf="userService.loggedUser?.email">
      <span class="nav-item white">
        Welcome {{userService.loggedUser?.firstName}} {{userService.loggedUser?.lastName}}
      </span> &nbsp; &nbsp;
      <button (click)="logout()" class="bg-dark white">
        <i class='fas fa-power-off' style='font-size:16px'></i>
        Logout
      </button>
    </ng-container>
  </div>
</nav>
