<br/>
<div class="container">
  <h3>SignUp Form</h3>
  <div class="alert alert-success alert-dismissible" *ngIf="success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> {{success}}.
  </div>

  <div class="alert alert-danger alert-dismissible" *ngIf="error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Danger!</strong> {{error}}.
  </div>

  <div class="row">
    <form [formGroup]="signUpForm" class="col-6">
      <div class="form-group">
        <label>
          First Name:
        </label>
        <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name"/>
        <div *ngIf="signUpForm.controls.firstName.touched && signUpForm.controls.firstName.errors" class="error">
          <span *ngIf="signUpForm.controls.firstName.errors.required">
            First name is required
          </span>
          <span *ngIf="signUpForm.controls.firstName.errors.minlength">
            Minimum two characters is required
          </span>
          <span *ngIf="signUpForm.controls.firstName.errors.invalidName">
            Name cannot be admin
          </span>
          <span *ngIf="signUpForm.controls.firstName.errors.maxlength">
            First name should not exceed maximum of 25 characters
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>
          Last Name:
        </label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name"/>
        <div *ngIf="signUpForm.controls.lastName.touched && signUpForm.controls.lastName.errors" class="error">
          <span *ngIf="signUpForm.controls.lastName.errors.required">
            Last name is required
          </span>
          <span *ngIf="signUpForm.controls.lastName.errors.minlength">
            Minimum two characters is required
          </span>
          <span *ngIf="signUpForm.controls.lastName.errors.invalidName">
            Last Name cannot be admin
          </span>
          <span *ngIf="signUpForm.controls.lastName.errors.maxlength">
            Last name should not exceed maximum of 25 characters
          </span>
        </div>
      </div>
      <div class="form-group">
        <div formGroupName="address">
          <h4>Address</h4>

          <div class="form-group">
            <label>
              Street:
            </label>
            <input class="form-control" type="text" formControlName="street">
          </div>

          <div class="form-group">
            <label>
              City:
            </label>
            <input class="form-control" type="text" formControlName="city">
          </div>

          <div class="form-group">
            <label>
              State:
            </label>
            <input class="form-control" type="text" formControlName="state">
          </div>

          <div class="form-group">
            <label>
              Zip Code:
            </label>
            <input class="form-control" type="text" formControlName="zip">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>
          Phone Number:
        </label>
        <input type="number" class="form-control" formControlName="phoneNumber"/>
      </div>
      <div *ngIf="signUpForm.controls.phoneNumber.touched && signUpForm.controls.phoneNumber.errors" class="error">
        <span *ngIf="signUpForm.controls.phoneNumber.errors.required">
          Phone Number is required
        </span>
      </div>

      <div class="form-group">
        <label>
          Email:
        </label>
        <input type="text" class="form-control" formControlName="email" placeholder="Enter Email"/>
        <div *ngIf="signUpForm.controls.email.touched && signUpForm.controls.email.errors" class="error">
          <span *ngIf="signUpForm.controls.email.errors.required; else invalidEmail">
            Email is required
          </span>
          <ng-template #invalidEmail>Email is invalid</ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>
          Password (8-chars, A-Z, a-z, 0-9, @$!%*?&):
        </label>
        <div class="input-group">
          <input type="{{showPassword?'text':'password'}}" class="form-control" formControlName="password" placeholder="Enter Password"/>
          <div class="input-group-append">
            <span class="input-group-text">
              <i class='fas' [ngClass]="{'fa-eye-slash':!showPassword, 'fa-eye': showPassword}" style='font-size:16px' (click)="togglePassword()"></i>
            </span>
          </div>
        </div>
        <div *ngIf="signUpForm.controls.password.touched && signUpForm.controls.password.errors" class="error">
          <span *ngIf="signUpForm.controls.password.errors.required; else invalidPassword">
            Password is required
          </span>
          <ng-template #invalidPassword>Password does not satisfies the above conditions</ng-template>
        </div>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary" (click)="submitSignUpform()">Submit</button>
        <button class="btn btn-secondary" (click)="clear()">Clear</button>
      </div>
      <br/>
      status: {{signUpForm.status}} <br/>
      valid: {{signUpForm.valid}}
    </form>
  </div>
</div>
