/* You can add global styles to this file, and also import other style files */
.error {
  color: red;
}

.white {
  color: white;
}

.content {
  min-height: calc(100vh - 128px);
}

html {
  scroll-behavior: smooth;
}

.fl-right {
  float: right;
}

.pointer{
  cursor: pointer;
}
